/* SERVICIOS DESTECADO */


.servicios-destacados {
    position: relative;
    width: auto;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo-seccion {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Product Sans";
    font-size: 45px;
    text-align: center;
}

.red {color: red;}

.servicio-destacado {
    display: none;
    position: relative;
    width: auto;
    height: auto;
}

.img-servicio {
    display: block;
    width: 100%;
    height: auto;
}

.informacion-servicios {
    font-family: 'Staatliches', cursive;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    bottom: 0;
    opacity: 0.5;
    background-color: #030303;
}

.titulo-servicio {
    font-size: 5vw;
    position: absolute;
    color: white;
    margin: 0;padding: 0;
    left: 5%;
    top: 4%;
    bottom: 0;
}

.descripcion-servicio {
    margin: 0;padding: 0;
    position: absolute;
    color: white;
    font-size: 2.86vw;
    left: 0;
    top: 40%;
    right: 0;
    bottom: 0;
    text-align: center;
}

.weazel-fm-description{
    top: 45%;
}

.precio-servicio {
    margin: 0;padding: 0;
    position: absolute;
    color: white;
    font-size: 2.86vw;
    top: 85%;
    right: 5%;
    bottom: 0;
    text-align: center;
}

.servicios-nuevos {
    position: relative;
    width: auto;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.servicio-nuevo {
    display:none;
    position: relative;
    width: auto;
    height: auto;
}

.all-services {
    display:block;
    box-sizing: border-box;
}
      
.all-services *, *:before, *:after {
    box-sizing: inherit;
}

.servicio {
    position:relative;
    left: 10px;
    display:inline-block;
    width: 32.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.carta {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contenedor-texto {
    padding: 0 16px;
}
  
.contenedor-texto::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.titulo-servicio-lista {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.precio {
    color: grey;
}

.descripcion-servicio-lista {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}


  



@media screen and (max-width: 600px) {

    .titulo-seccion{font-size: 30px;}

    .informacion-servicios {height: auto;}
    
    .titulo-servicio {
        margin: 0;padding: 15px;
        top:5%;
        left: 17%;
        font-size: 40px;
        text-align: center;
        bottom: unset;
        right: unset;
    }

    .descripcion-servicio {
        top: 20%;
        padding: 20px;
        font-size: 25px;
    }

    .precio-servicio {
        position: absolute;
        font-size: 40px;
        bottom:5%;
        right: 35%;
        text-align: center;
    }

    .weazel-fm-title {top:5%;left: 3%;}
    .weazel-fm-description {font-size: 40px;top: 30%;}
    .rrss-title {top:5%;left: 6.5%;}
    .rrss-description {top:25%;font-size: 25px;}
    .rrss-precio{bottom:5%;}

    .servicio {
        left: 2px;
        width: 100%;
        display: block;
    }

}