.fondo{
  background: white;
}

html, body {
  background: url("https://i.imgur.com/ludlyke.png")
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.contenedor-formulario {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 50%;
  left: 0;
  right: 0;
  
  background: #4C4444;
  width: 400px;
  heigth: auto;
  font-size: 16px;
}

.form